{{! This is a partial file used to generate a post "card"
which templates loop over to generate a list of posts. }}
<article class="post-card {{post_class}}">
  <div class="post-card-content">
    <a class="post-card-content-link" href="{{url}}">
      <header class="post-card-header">
        <div class="post-card-tags">
          {{#if tags}}
            {{#foreach tags}}
              <span class="post-card-primary-tag">
                {{name}}
              </span>
            {{/foreach}}
          {{/if}}
        </div>
        <h2 class="post-card-title">
          {{title}}
        </h2>
      </header>
      <div class="post-card-byline-date">
        <time datetime="{{date format="YYYY-MM-DD"}}">
          {{date}}
        </time>
        <span class="bull">
          |
        </span>
        {{reading_time}}
      </div>
      <section class="post-card-excerpt">
        <p>
          {{excerpt words="30"}}
          ...
        </p>
      </section>
    </a>
    <footer class="post-card-meta"></footer>
  </div>
</article>