{{!< default}}

{{!-- The tag above means: insert everything in this file
into the {body} tag of the default.hbs template --}}

<article class="article page {{post_class}}">
    <div class="gh-content gh-canvas">
        <h1 class="article-title">Archive</h1>
        {{!-- {{#get "posts"}}
            <p class="post-archive-item">{{t "There are {total} posts in total" total=pagination.total}}</p>
        {{/get}} --}}
        <div class="post-content">
            <ul class="post-archive">
                {{#get "posts" limit="all" include="authors" order="published_at desc"}}
                    {{#foreach posts}}
                    <li class='post-archive-item' year="{{date format=(t 'YYYY')}}" month="{{date format=(t 'MMMM')}}">
                            <div class="date">
                                <time class="button is-static is-size-7">{{date published_at format=(t "MMM DD, YYYY")}}</time>
                            </div>
                            <div class="subtitle">
                                <a href='{{url}}'>
                                    {{title}}
                                </a>
                                {{#if featured}}
                                    <span style="color:var(--main-color)" title="{{t "Featured"}}"><i class="iconfont icon-star"></i></span>
                                {{/if}}
                            </div>
                    </li>
                    {{/foreach}}
                {{/get}}
            </ul>
        </div>
    </div>
</section>
